<!-- <h1>Интелектуальный модуль</h1> -->
<dashboard-pie-chart></dashboard-pie-chart>
<div class="widgets">

  <div class="row">
    <div class="col-lg-2 col-md-4 col-sm-10">
      <div
          ba-panel
          ba-panel-title="KPI (%)"
          ba-panel-class="with-scroll">
          
            <div class="item black-top-list" id="kpi" style="border: 2px solid #BCA24E; border-radius: 8px; background-color: #1E3C40">
                  <div class="card-header">Потери-простои нефти <br> 2015 - 2018</div>
                    <div class="card-body" style="color: yellow">
                      {{kpi_poteri2015 | number:0}}&nbsp<br><br>
                      <h ng-style="{'font-size':'15px','color':'yellow','padding-top':'0px'}">{{kpi_prostoi2015 | number:0}}&nbsp</h>
                      <h class="text-static">тн</h>
                      <h class="text-static-2">дн</h>
                    </div>
            </div>
            <br>
            <div class="item black-top-list" id="kpi" style="border: 2px solid #505050; border-radius: 8px; background-color: #1E3C40">
                  <div class="card-header">Потери-простои нефти<br>прогноз на 2019</div>
                    <div class="card-body" style="color: yellow">
                      {{kpi_poteri2019 | number:0}}&nbsp<br><br>
                      <h ng-style="{'font-size':'15px','color':'yellow','padding-top':'0px'}">{{kpi_prostoi2019 | number:0}}&nbsp</h>
                      <h class="text-static">тн</h>
                      <h class="text-static-2">дн</h>
                    </div>
            </div>
            <br>
            <div class="item black-top-list" id="kpi" style="border: 2px solid #505050; border-radius: 8px; background-color: #1E3C40">
                  <div class="card-header">Откл. факта от прогноза<br>янв-апр 2019</div>
                    <div class="card-body" style="color: yellow">
                      <span ng-if="otkl_poteri < 0"><i class=" ion-arrow-up-b" style="color: green; font-size: 25px"></i> </span>
                      <span ng-if="otkl_poteri >= 0"><i class=" ion-arrow-down-b" style="color: red; font-size: 25px"></i> </span>
                      <h class="text-static-numb">{{otkl_poteri | number:0}}&nbsp</h><br><br>
                      <h ng-style="{'font-size':'15px','color':'yellow','padding-top':'0px'}">
                      <span ng-if="otkl_poteri < 0"><i class=" ion-arrow-up-b" style="color: green; font-size: 25px"></i> </span>
                      <span ng-if="otkl_poteri >= 0"><i class=" ion-arrow-down-b" style="color: red; font-size: 25px"></i> </span>
                      <h class="text-static-numb-2">({{otkl_poteri_procent | number:2}})&nbsp</h></h>
                      <h class="text-static">тн</h>
                      <h class="text-static-2">%</h>
                    </div>
            </div>

        <!-- <div ng-include="'app/pages/new_page/label.html'"></div> -->
          
      </div>

        <div ba-panel ba-panel-class="with-scroll heading-widget" ba-panel-title="KPI">
          <div class="section-block">
            <h4>План - расход на ГТМ</h4>
            <h2 style="font-weight: normal">$ 42,571</h2>
          </div>
          <div class="section-block">
            <h4>Отклонение от плана</h4>
            <h2 style="font-weight: normal">$ 9,979</h2>
          </div>
          <!-- <div class="section-block">
            <h4>План - доход от ГТМ</h4>
            <h2 style="font-weight: normal">$ 87,456</h2>
          </div>
          <div class="section-block">
            <h4>Факт - доход</h4>
            <h2 style="font-weight: normal">$ 107,233</h2>
          </div> -->
          <!-- <div class="section-block">
            <h4>H4. Heading 4</h4>

            <p>Lorem ipsum dolor sit amet, id mollis iaculis mi nisl pulvinar, lacinia scelerisque pharetra,.</p>
          </div>
          <div class="section-block">
            <h5>H5. Heading 5</h5>

            <p>Lorem ipsum dolor sit amet, id mollis iaculis mi nisl pulvinar, lacinia scelerisque pharetra.</p>
          </div> -->
      </div>
    </div>

    <div class=" col-lg-10 col-md-12"
         ba-panel
         ba-panel-title="По скважинам"
         ba-panel-class="with-scroll">

      <div class="btn-group" uib-dropdown dropdown-append-to-body style="right: 20px; margin-top: -54px; position: absolute;">
      <button type="button" class="btn btn-primary " uib-dropdown-toggle>
        <div ng-if="byMonth">Помесячно <span class="caret"></span></div>
        <div ng-if="!byMonth">Посуточно <span class="caret"></span></div>
      </button>
      <ul uib-dropdown-menu>
        <li ng-if="!byMonth"><a ng-click="changeDataType(byMonth)">Помесячно</a></li>
        <li ng-if="byMonth"><a ng-click="changeDataType(byMonth)">Посуточно</a></li>
        <!-- <li role="separator" class="divider"></li> -->
        <!-- <li><a href>Separated link</a></li> -->
      </ul>
      </div>
      <div id="zoomAxisChart" class="admin-chart" ng-controller="SmartPageCtrl"></div>
      <!-- <div ng-if="button_nasos" id="barChart" class="admin-chart" ng-controller="BarChartCtrl"></div> -->
    </div>
    <div class="col-lg-10"
         ba-panel
         style="float: right;">
   
    <div class="button-wrapper">
      <!-- <button type="button" class="btn btn-primary btn-raised btn-lg" ng-click="button_first()" style="width: 250px; padding: 20px; margin: 0px 35px">Факт</button> -->
      <button type="button" class="btn btn-primary btn-raised btn-lg" ng-click="button_second()" style="width: 250px; padding: 20px; margin: 0px 35px">Прогноз потерь</button>
      <!-- <button type="button" class="btn btn-primary btn-raised btn-lg" ng-click="button_effekt()" style="width: 250px; padding: 20px; margin: 0px 35px">Потери</button> -->
      <button type="button" class="btn btn-primary btn-raised btn-lg" ng-click="button_third()" style="width: 250px; padding: 20px; margin: 0px 35px">Простои</button>
      <button type="button" class="btn btn-primary btn-raised btn-lg" ng-click="button_fourth()" style="width: 250px; padding: 20px; margin: 0px 35px">ИСУ</button>
      
      <!-- <button type="button" class="btn btn-primary btn-raised btn-lg" ng-click="button_prognoz()" style="width: 250px; padding: 20px; margin: 0px 35px">Рассчитать прогноз</button> -->
    </div>
    <!--<div class="col-md-6">-->
    <!--<div ba-panel ba-panel-title="Gantt chart" ba-panel-class="with-scroll">-->
    <!--<div ng-include="'app/pages/charts/amCharts/ganttChart/ganttChart.html'"></div>-->
    <!--</div>-->
    <!--</div>-->
  </div>
    <div class="col-md-6" ng-if="selectedButton != 4">
      <div ba-panel ba-panel-title="Виды ГТМ" ba-panel-class="with-scroll">
        <div include-with-scope="app/pages/new_page/remont_types.html"></div>
      </div>
    </div>
    <div class="col-md-6" ng-if="selectedButton == 4">
      <div ba-panel ba-panel-title="Прогнозирование проводимых ГТМ, в разрезе месторождении и скважин">
        <div ba-panel> 
            <div class="col-matrix-centre-legend">(ASA_xxxx)</div>
            <div class="col-matrix-1-legend">Последний замер</div>
            <div class="col-matrix-2-legend">Тех. режим по нефти</div>
            <div class="col-matrix-3-legend">Тех. режим ТБД</div>
            <div class="col-matrix-4-legend">Тех. режим ИСУ</div>

            <div class="col-matrix-1-kub"></div>
              <div class="col-matrix-1-kub-text">В пределах нормы;</div>
            <div class="col-matrix-2-kub"></div>
              <div class="col-matrix-2-kub-text">Необходима проверка;</div>
            <div class="col-matrix-3-kub"></div>
              <div class="col-matrix-3-kub-text">Не значительное откл;</div>
            <!-- <div class="col-matrix-4-kub"></div>
              <div class="col-matrix-4-kub-text">Не значительное откл;</div> -->
        </div>
        <div ba-panel style="height: 460px; overflow: auto;">
            <div class="row" ng-repeat="items in matrix">
                <div class="col-md-2" ng-repeat="item in items track by $index">
                    <div class="col-matrix" ng-if="item[5] == 0" style="background-color: #505050; margin-left: -12px; border-radius: 5px; border: 1px solid #373737;">
                        <div class="col-matrix-1">
                            {{item[0]}}
                        </div>
                        <div class="col-matrix-2">
                            {{item[2]}}
                        </div>
                        <div class="col-matrix-centre">{{item[1] | number : 0}}</div>
                        <div class="col-matrix-3">
                            {{item[3]}}
                        </div>
                        <div class="col-matrix-4">
                            {{item[4]}}%
                        </div>
                    </div>
                    <div class="col-matrix" ng-if="item[5] == 1" style="background-color: #C80000; margin-left: -12px; border-radius: 5px; border: 1px solid #373737;">
                        <div class="col-matrix-1">
                            {{item[0]}}
                        </div>
                        <div class="col-matrix-2">
                            {{item[2]}}
                        </div>
                        <div class="col-matrix-centre">{{item[1] | number : 0}}</div>
                        <div class="col-matrix-3">
                            {{item[3]}}
                        </div>
                        <div class="col-matrix-4">
                            {{item[4]}}%
                        </div>
                    </div>
                    <div class="col-matrix" ng-if="item[5] == 2" style="background-color: #CC9933; margin-left: -12px; border-radius: 5px; border: 1px solid #373737;">
                        <div class="col-matrix-1">
                            {{item[0]}}
                        </div>
                        <div class="col-matrix-2">
                            {{item[2]}}
                        </div>
                        <div class="col-matrix-centre">{{item[1] | number : 0}}</div>
                        <div class="col-matrix-3">
                            {{item[3]}}
                        </div>
                        <div class="col-matrix-4">
                            {{item[4]}}%
                        </div>
                    </div>
                    <div class="col-matrix" ng-if="item[5] == 3" style="background-color: #008232; margin-left: -12px; border-radius: 5px; border: 1px solid #373737;">
                        <div class="col-matrix-1">
                            {{item[0]}}
                        </div>
                        <div class="col-matrix-2">
                            {{item[2]}}
                        </div>
                        <div class="col-matrix-centre">{{item[1] | number : 0}}</div>
                        <div class="col-matrix-3">
                            {{item[3]}}
                        </div>
                        <div class="col-matrix-4">
                            {{item[4]}}%
                        </div>
                    </div>
                </div>
                <div class="col-md-2" ng-repeat="i in [].constructor(6-items.length) track by $index">
                </div>
            </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div ba-panel ba-panel-title="Виды ГТМ" ba-panel-class="with-scroll">
        <div include-with-scope="app/pages/new_page/smartTable.html"></div>
      </div>
    </div>


  <div class="row">
    <!-- <div class="col-lg-4 col-md-6"
         ba-panel
         ba-panel-title="Bar Chart"
         ba-panel-class="with-scroll">
      <div ng-include="'app/pages/charts/amCharts/barChart/barChart.html'"></div>
    </div> -->
    <!-- <div class="col-lg-6 col-md-6"
         ba-panel
         ba-panel-title="По месторождениям"
         ba-panel-class="with-scroll">
      <div ng-include="'app/pages/charts/amCharts/areaChart/areaChart.html'"></div>
    </div>
   <div class="col-lg-6 col-md-12"
         ba-panel
         ba-panel-title="Архив"
         ba-panel-class="with-scroll">
      <div ng-include="'app/pages/charts/amCharts/lineChart/lineChart.html'"></div>
    </div>
  </div> -->

  <!-- <div class="row">
    <div class="col-md-6"
         ba-panel
         ba-panel-title="Pie Chart"
         ba-panel-class="with-scroll">
      <div ng-include="'app/pages/charts/amCharts/pieChart/pieChart.html'"></div>
    </div>
    <div class="col-md-6"
         ba-panel
         ba-panel-title="Funnel Chart"
         ba-panel-class="with-scroll">
      <div ng-include="'app/pages/charts/amCharts/funnelChart/funnelChart.html'"></div>
    </div>
  </div> -->


</div>