<div class="row"
		ba-panel
        ba-panel-title="Загрузка данных">

    <div class="col-lg-6 col-md-6 col-sm-6">
      <div
          ba-panel
          ba-panel-title="Данные по: Замеры на скважинах"
          ba-panel-class="with-scroll">
			<form class="row form-inline" ng-controller="regirectController"> 
			  <div class="form-group col-sm-10 col-xs-12">
			    <input type="file" class="btn btn-primary" style="background: #696969" id="file" placeholder="Name" ng-model="filename"> <!-- class="form-control" -->
			  </div>
			  <button type="submit" ng-click="open()" class="btn btn-primary">Добавить</button>
			</form>
		</div>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6">
      <div
          ba-panel
          ba-panel-title="Данные по: Замеры на РВС"
          ba-panel-class="with-scroll">
			<form class="row form-inline" ng-controller="regirectController"> 
			  <div class="form-group col-sm-10 col-xs-12">
			    <input type="file" class="btn btn-primary" style="background: #696969" id="file" placeholder="Name" ng-model="filename"> <!-- class="form-control" -->
			  </div>
			  <button type="submit" ng-click="open()" class="btn btn-primary">Добавить</button>
			</form>
		</div>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6">
      <div
          ba-panel
          ba-panel-title="Данные по: Технологические режимы"
          ba-panel-class="with-scroll">
			<form class="row form-inline" ng-controller="regirectController"> 
			  <div class="form-group col-sm-10 col-xs-12">
			    <input type="file" class="btn btn-primary" style="background: #696969" id="file" placeholder="Name" ng-model="filename"> <!-- class="form-control" -->
			  </div>
			  <button type="submit" ng-click="open()" class="btn btn-primary">Добавить</button>
			</form>
		</div>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6">
      <div
          ba-panel
          ba-panel-title="Данные по: Журнал ремонтов"
          ba-panel-class="with-scroll">
			<form class="row form-inline" ng-controller="regirectController"> 
			  <div class="form-group col-sm-10 col-xs-12">
			    <input type="file" class="btn btn-primary" style="background: #696969" id="file" placeholder="Name" ng-model="filename"> <!-- class="form-control" -->
			  </div>
			  <button type="submit" ng-click="open()" class="btn btn-primary">Добавить</button>
			</form>
		</div>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6">
      <div
          ba-panel
          ba-panel-title="Данные по: Насос"
          ba-panel-class="with-scroll">
			<form class="row form-inline" ng-controller="regirectController"> 
			  <div class="form-group col-sm-10 col-xs-12">
			    <input type="file" class="btn btn-primary" style="background: #696969" id="file" placeholder="Name" ng-model="filename"> <!-- class="form-control" -->
			  </div>
			  <button type="submit" ng-click="open()" class="btn btn-primary">Добавить</button>
			</form>
		</div>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6">
      <div
          ba-panel
          ba-panel-title="Данные по: Подвеска"
          ba-panel-class="with-scroll">
			<form class="row form-inline" ng-controller="regirectController"> 
			  <div class="form-group col-sm-10 col-xs-12">
			    <input type="file" class="btn btn-primary" style="background: #696969" id="file" placeholder="Name" ng-model="filename"> <!-- class="form-control" -->
			  </div>
			  <button type="submit" ng-click="open()" class="btn btn-primary">Добавить</button>
			</form>
		</div>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6">
      <div
          ba-panel
          ba-panel-title="Данные по: Динамограмма спуско-подъемных операций"
          ba-panel-class="with-scroll">
			<form class="row form-inline" ng-controller="regirectController"> 
			  <div class="form-group col-sm-10 col-xs-12">
			    <input type="file" class="btn btn-primary" style="background: #696969" id="file" placeholder="Name" ng-model="filename"> <!-- class="form-control" -->
			  </div>
			  <button type="submit" ng-click="open()" class="btn btn-primary">Добавить</button>
			</form>
		</div>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6">
      <div
          ba-panel
          ba-panel-title="Данные по: ИСУ"
          ba-panel-class="with-scroll">
			<form class="row form-inline" ng-controller="regirectController"> 
			  <div class="form-group col-sm-10 col-xs-12">
			    <input type="file" class="btn btn-primary" style="background: #696969" id="file" placeholder="Name" ng-model="filename"> <!-- class="form-control" -->
			  </div>
			  <button type="submit" ng-click="open()" class="btn btn-primary">Добавить</button>
			</form>
		</div>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6">
      <div
          ba-panel
          ba-panel-title="Данные по: динамографам"
          ba-panel-class="with-scroll">
			<form class="row form-inline" ng-controller="regirectController"> 
			  <div class="form-group col-sm-10 col-xs-12">
			    <input type="file" class="btn btn-primary" style="background: #696969" id="file" placeholder="Name" ng-model="filename"> <!-- class="form-control" -->
			  </div>
			  <button type="submit" ng-click="open()" class="btn btn-primary">Добавить</button>
			</form>
		</div>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6">
      <div
          ba-panel
          ba-panel-title="Данные по: ВаттМетр"
          ba-panel-class="with-scroll">
			<form class="row form-inline" ng-controller="regirectController"> 
			  <div class="form-group col-sm-10 col-xs-12">
			    <input type="file" class="btn btn-primary" style="background: #696969" id="file" placeholder="Name" ng-model="filename"> <!-- class="form-control" -->
			  </div>
			  <button type="submit" ng-click="open()" class="btn btn-primary">Добавить</button>
			</form>
		</div>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6">
      <div
          ba-panel
          ba-panel-title="Данные по: Вибродатчик"
          ba-panel-class="with-scroll">
			<form class="row form-inline" ng-controller="regirectController"> 
			  <div class="form-group col-sm-10 col-xs-12">
			    <input type="file" class="btn btn-primary" style="background: #696969" id="file" placeholder="Name" ng-model="filename"> <!-- class="form-control" -->
			  </div>
			  <button type="submit" ng-click="open()" class="btn btn-primary">Добавить</button>
			</form>
		</div>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6">
      <div
          ba-panel
          ba-panel-title="Данные по: Реле запуска привода на скважинах"
          ba-panel-class="with-scroll">
			<form class="row form-inline" ng-controller="regirectController"> 
			  <div class="form-group col-sm-10 col-xs-12">
			    <input type="file" class="btn btn-primary" style="background: #696969" id="file" placeholder="Name" ng-model="filename"> <!-- class="form-control" -->
			  </div>
			  <button type="submit" ng-click="open()" class="btn btn-primary">Добавить</button>
			</form>
		</div>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6">
      <div
          ba-panel
          ba-panel-title="Данные по: Температура внешней среды"
          ba-panel-class="with-scroll">
			<form class="row form-inline" ng-controller="regirectController"> 
			  <div class="form-group col-sm-10 col-xs-12">
			    <input type="file" class="btn btn-primary" style="background: #696969" id="file" placeholder="Name" ng-model="filename"> <!-- class="form-control" -->
			  </div>
			  <button type="submit" ng-click="open()" class="btn btn-primary">Добавить</button>
			</form>
		</div>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6">
      <div
          ba-panel
          ba-panel-title="Данные по: Лабораторные исследования"
          ba-panel-class="with-scroll">
			<form class="row form-inline" ng-controller="regirectController"> 
			  <div class="form-group col-sm-10 col-xs-12">
			    <input type="file" class="btn btn-primary" style="background: #696969" id="file" placeholder="Name" ng-model="filename"> <!-- class="form-control" -->
			  </div>
			  <button type="submit" ng-click="open()" class="btn btn-primary">Добавить</button>
			</form>
		</div>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6">
      <div
          ba-panel
          ba-panel-title="Данные по: Обходам"
          ba-panel-class="with-scroll">
			<form class="row form-inline" ng-controller="regirectController"> 
			  <div class="form-group col-sm-10 col-xs-12">
			    <input type="file" class="btn btn-primary" style="background: #696969" id="file" placeholder="Name" ng-model="filename"> <!-- class="form-control" -->
			  </div>
			  <button type="submit" ng-click="open()" class="btn btn-primary">Добавить</button>
			</form>
		</div>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6">
      <div
          ba-panel
          ba-panel-title="Данные по: GPS трэкерам специальной техники"
          ba-panel-class="with-scroll">
			<form class="row form-inline" ng-controller="regirectController"> 
			  <div class="form-group col-sm-10 col-xs-12">
			    <input type="file" class="btn btn-primary" style="background: #696969" id="file" placeholder="Name" ng-model="filename"> <!-- class="form-control" -->
			  </div>
			  <button type="submit" ng-click="open()" class="btn btn-primary">Добавить</button>
			</form>
		</div>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6">
      <div
          ba-panel
          ba-panel-title="Данные по: Бухгалтерия"
          ba-panel-class="with-scroll">
			<form class="row form-inline" ng-controller="regirectController"> 
			  <div class="form-group col-sm-10 col-xs-12">
			    <input type="file" class="btn btn-primary" style="background: #696969" id="file" placeholder="Name" ng-model="filename"> <!-- class="form-control" -->
			  </div>
			  <button type="submit" ng-click="open()" class="btn btn-primary">Добавить</button>
			</form>
		</div>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6">
      <div
          ba-panel
          ba-panel-title="Данные по: Массомер"
          ba-panel-class="with-scroll">
			<form class="row form-inline" ng-controller="regirectController"> 
			  <div class="form-group col-sm-10 col-xs-12">
			    <input type="file" class="btn btn-primary" style="background: #696969" id="file" placeholder="Name" ng-model="filename"> <!-- class="form-control" -->
			  </div>
			  <button type="submit" ng-click="open()" class="btn btn-primary">Добавить</button>
			</form>
		</div>
	</div>
</div>
