
  <!-- <input type="file" class="custom-file-input" id="file" name="file"/>
  <button ng-click="openProgressDialog()" style="color: blue">Добавить</button> -->

<form class="row form-inline"> <!-- ng-controller="regirectController" -->
  <div class="form-group col-sm-3 col-xs-6">
    <input type="file" class="btn btn-primary" id="file" placeholder="Name" ng-model="filename"> <!-- class="form-control" -->
  </div>
  <button type="submit" ng-click="openProgressDialog()" class="btn btn-primary">Добавить</button>
</form>
<!-- ng-click="openProgressDialog()" -->
